/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.enemy{
  background: url(asteroid.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.player{
  fill: red;
}